<template>
  <header class="main-header">
    <div class="container">
      <h1 class="brand">
        <nuxt-link class="link" to="">
        </nuxt-link>
      </h1>
      <ul class="main-list">
        <li class="item">
        <nuxt-link class="link" to="#sobre">Sobre</nuxt-link>
        </li>
        <li class="item">
        <nuxt-link class="link" to="#planos">Planos</nuxt-link>
        </li>
        <li class="item">
        <nuxt-link class="link" to="#baixar">Baixar</nuxt-link>
        </li>
      </ul>
    </div>
  </header>
</template>

<style lang="scss" scoped>
.main-header{
  padding: 1em;
  padding-top: 1.7em;
  position: relative;
  z-index: 10;
  .container{
  display: flex;
  align-items: center;
  // @media screen and (min-width: 767px){
  //   padding: 0 1em;
  // }
  justify-content: space-between;
  }
  .brand{
    width: 102px;
    .link{
      vertical-align: middle;
      width: 100%;
      padding: 25%;
      display: inline-block;
      background: url(/nos-nice/_nuxt/assets/images/nos-black.png) no-repeat center/contain;
    }
  }
  .main-list{
    @media screen and (min-width: 769px) {
      margin-right: 8em;
    }
    .item{
      text-transform: uppercase;
      display: inline-block;
      margin-right: 2.8em;
      .link{
        font-size: .95em;
        color: #fff;
      }
      &:last-child{
        margin-right: 0;
        .link{
          border: 1px solid #fff;
          padding: 0.5em 1.3em;
          border-radius: 1em;
        }
      }
    }
  }
}

</style>
