<template>
  <main class="main-app">
    <Header />
    <nuxt />
  </main>
</template>

<script>
import Header from '~/components/organisms/Header.vue'
export default {
   components: {
    Header
  }
}
</script>
<style>
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap');

html {
  font-family: 'Open Sans', -apple-system, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  overflow-y: auto;
}
body{
  font-family: 'Open Sans', -apple-system, sans-serif;
}

.container-sprint{
  max-width: 1920px;
  margin: 0 auto;
}




</style>
