<template>
  <section class="page">
    <section class="main-hero">
      <div class="container">
        <article>
            <h1 class="main-title">EXPLORE +VÍDEOS COM O <span class="highlight">NICE</span></h1>
            <p class="main-subtitle">VÍDEOS E CONTEÚDOS EXCLUSIVOS NOS !</p>
        </article>
        <figure></figure>
      </div>
    </section>
  </section>
</template>

<script>

export default {
}
</script>

<style lang="scss" scoped>
$primary: #6a74ff;
.page{
  margin-top: -94.2px;
}
.main-hero {
  position: relative;
  .container{
  display: flex;
  min-height: 100vh;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  }
  .main-title{
    font-weight: 800;
    color: #000;
    font-size: 2.4em;
    max-width: 310px;
    letter-spacing: -3px;
    line-height: 1.1;
    .highlight{
      font-weight: 800;
      color: $primary;
    }
  }
  .main-subtitle{
    margin-top: 0.5;
  }
  article{

    .info-wrapper{
      
    }
  }
  figure{
    width: 60%;
    height: 100vh;
    min-height: 600px;
    background: url('~assets/images/hero-figure.png') no-repeat top right/100%;
  }
}

</style>
